* {
    margin: 0;
    padding: 0;
}
.road{
    width: 100%;
    height: 120px;
    background-color: #555;
    position: fixed;
    top: 325px;
}
.car{
    width: 200px;
    height: 75px;
    position: relative;
    top: 10px;
    left: 10px;
    border-top-left-radius: 75%;
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 25%;
    animation: moveGreen 3s;
}
.carGreen{
    background-color: greenyellow;
    animation: moveGreen 3s;  
}
.carRed{
    background-color: red;
    transform: scale(-1,1);
    left: calc(100% - 210px);
    animation: moveRed 3s;
}
.left-wheel{
    left: 20px;
    animation: wheels 3s;
}
.right-wheel{
    right: 20px;
    animation: wheels 3s;
}
.wheel{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    bottom: -25px;
}

.light {
    position: absolute;
    width: 20px;
    height: 10px;
    background-color: yellow;
    top: 10px;
    right: 20px;
    animation: lights 2.5s;
}

.disk {
    width: 40px;
    height: 40px;
    margin: 5px;
    background-color: gold;
    clip-path: polygon(
        50% 0%, 
        61% 35%, 
        98% 35%, 
        68% 57%, 
        79% 91%, 
        50% 70%, 
        21% 91%, 
        32% 57%, 
        2% 35%, 
        39% 35%
    );
}
@keyframes moveGreen{
    0% {
        left: -200px;
    }
    100% {
        left: calc(100% - 250px);
    }
}
@keyframes moveRed{
    0% {
        left: calc(100% - 200px);
    }
    100% {
        left: 50px;
    }
}
@keyframes  lights{
    0%, 50%, 100%{
        opacity: 1;
    }
    25%, 75%{
        opacity: 0.5;
    }
}
@keyframes wheels {
    from{
        rotate: 0deg;
    }
    to{
        rotate: 360deg;
    }
}